body   		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 100%;    		
		font-family: Verdana, Arial, Sans Serif;
		margin-left: 0em;
		padding-left: 1.5em; 
		}

/* formats for HomePage 
------------------------------------------*/

h1.Title { 	margin-top: 200px;
		margin-bottom:	200px;
		clear:both; 
		width: 100%; 
		font-size:  200%;
		text-align: center;
		}
		
h2.Subtitle{	margin-bottom: 20px;
		clear:both; 
		width: 100%; 
		text-align: center;
		}
		
h3.Names{	margin-bottom: .20px;
		clear:both; 
		width: 100%; 
		text-align: center;

}

h3.Date{	margin-bottom: .15em;
		clear:both; 
		width: 100%; 
		text-align: center;
}
div.Names{	
		margin-top: 50px;
		margin-left:auto;
		margin-right:auto;
}


/* formats for documentation
-------------------------------------------*/

div.doc {	margin-left: 10px;
		margin-right: 20px;
		text-align: left;
		}
p.pagebreak { display:none;
	}

h1.doc {	margin-top: 20px;
		margin-bottom: 20px;
		clear: both;
		width:100%;
		text-align: left;
		font-size:  140%;
		font-weight: bold;
		color: #000000;
		}

h2.doc {	margin-top: 10px;
		margin-bottom: 10px;
		clear: both;
		width:100%;
		text-align: left;
		font-size:  120%;
		font-weight: bold;
		color: #000000;
		}

h3.doc {	margin-top: 10px;
		margin-bottom: 10px;
		clear: both;
		width:100%;
		text-align: left;
		font-size:  100%;
		font-weight: bold;
		color: #000000;
		}

		
p.doc {		font-size: 100%;
		font-weight: normal;
		color: #000000;
		text-align: justify;
		white-space:normal;
		}
		
ul.doc {	color: #000000;
		font-size: 100%;
		font-weight: normal;
		list-style-type:disc;
		}
ul.sublist {	color: #000000;
		font-size: 100%;
		font-weight: normal;
		list-style-type:square;
	
		}

ol.doc {	color: #000000;
		font-size: 100%;
		font-weight: normal;
		list-style-type:decimal;
		}
ol.sublist {	color: #000000;
		font-size: 100%;
		font-weight: normal;
		list-style-type:lower-alpha;

		}		
		
li.doc {	color: #000000;
		font-size: 100%;
		font-weight: normal;
		}
li.sublist {	color: #000000;
		font-size: 100%;
		font-weight: normal;
		}

p.code {
              color: #000000;
              font-size: 80%;
              font-weight: normal;
              font-family: courier new;
              margin-left: 30px;
         }
         
b.doc {		
}




div.table {	margin-top: 20px;
		margin-bottom: 0px;
		text-align: center;
		}

table.doc { 	margin-left:auto;
		margin-right:auto;
		margin-top: 4px;
		border-style:solid;
		border-color:#000000;
		border-collapse:collapse;

		}

table.format { 	margin-left:0px;
		margin-right:auto;
		margin-top: 4px;
		border-style:none;
		border-color:#000000;
		border-collapse:collapse;
		}		
		
caption.doc {	caption-side:top;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left:auto;
		margin-right:auto;	
		font-size: 80%;
		font-weight: bold;
		}	
		
tr.format{	font-size: 100%;
		padding: 0 px;
		border-color:#000000;		
		}
		
		
tr.doc {	font-size: 100%;
		padding: 4px;
		border-color:#000000;		
		}

td.formatleft {	font-size: 100%;
		vertical-align:middle;
		border-color:#000000;
		padding: 0px;
		text-align: left;
		}

td.formatcenter {	font-size: 100%;
		vertical-align:middle;
		border-color:#000000;
		padding: 0px;
		text-align: center;
		
		}
td.formatright {	font-size: 100%;
		vertical-align:middle;
		border-color:#000000;
		padding: 0px;
		text-align: right;
		}

td.left {	font-size: 100%;
		vertical-align:middle;
		border-color:#000000;
		padding: 4px;
		text-align: left;
		}

td.center {	font-size: 100%;
		vertical-align:middle;
		border-color:#000000;
		padding: 4px;
		text-align: center;
		
		}
td.right {	font-size: 100%;
		vertical-align:middle;
		border-color:#000000;
		padding: 4px;
		text-align: right;
		}

th.doc {	font-size: 100%;
		border-color:#000000;
		padding: 4px;
		}





		
div.img { 	text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
}

img.img {	margin-top:0px;
		margin-bottom: 2px;
}

p.img {		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 80%;
		font-weight: bold;
}





img.inline {	margin-left: 2px;
		margin-right: 2px;
}


a.doc:link { 
		text-decoration:underline; 
		font-weight:normal; 
		color:#000000; 
		}

a.doc:visited { 
		text-decoration:underline; 
		font-weight:normal; 
		color:#000000; 
		}
		
a.doc:hover { 
		text-decoration:underline; 
		font-weight:normal; 
		background-color:#FFFFFF; 
		color:#0000FF;
		
		}
		
a.doc:active { 
		text-decoration:underline; 
		font-weight:normal; 
		background-color:#FFFFFF; 
		}
		
a.doc:focus { 
		text-decoration:underline; 
		font-weight:normal; 
		background-color:#FFFFFF; 
		}



a.noPrint:link { 
		text-decoration:underline; 
		font-weight:normal; 
		color:#000000; 
		}

a.noPrint:visited { 
		text-decoration:underline; 
		font-weight:normal; 
		color:#000000; 
		}
		
a.noPrint:hover { 
		text-decoration:underline; 
		font-weight:normal; 
		background-color:#FFFFFF; 
		color:#0000FF;
		
		}
		
a.noPrint:active { 
		text-decoration:underline; 
		font-weight:normal; 
		background-color:#FFFFFF; 
		}
		
a.noPrint:focus { 
		text-decoration:underline; 
		font-weight:normal; 
		background-color:#FFFFFF;
		}
