<P CLASS="pagebreak"></P>
<H1>
GDAL license terms
</H1>

<a class="anchor" name="license"></a>
<p>
The following terms are the same as X windows is released under, and is generally known
as the "MIT License". It is intended to give you permission to do whatever you want with
the GDAL source, including building proprietary commercial software, without further
permission from me, or requirement to distribute your source code. A few portions of GDAL
under under slightly different terms. For instance the libpng, libjpeg, libtiff, and
libgeotiff license terms may vary slightly though I don't think any of them differ in any
significant way. Some external libraries which can be optionally used by GDAL are under
radically different licenses.<p>

<pre>
 Copyright (c) 2000, Frank Warmerdam</pre><p>
<pre> Permission is hereby granted, free of charge, to any person obtaining a
 copy of this software and associated documentation files (the "Software"),
 to deal in the Software without restriction, including without limitation
 the rights to use, copy, modify, merge, publish, distribute, sublicense,
 and/or sell copies of the Software, and to permit persons to whom the
 Software is furnished to do so, subject to the following conditions:</pre><p>
<pre> The above copyright notice and this permission notice shall be included
 in all copies or substantial portions of the Software.</pre><p>
<pre> THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 DEALINGS IN THE SOFTWARE.
</pre> <p>
