<hr style="width: 100%; height: 2px;">Last changes: $date<br>
 by <a href="mailto:contact@baristasoftware.com.au">Franz Rottensteiner</a>,
    <a href="mailto:contact@baristasoftware.com.au">Thomas Weser </a>,
    <a href="mailto:contact@baristasoftware.com.au">Petra Helmholz </a>
  </BODY>
</HTML>
